body {
   background-color: white;
   font-family: Proxima;
   font-size: 12pt;
}

@font-face {
  font-family: Proxima;
  src: url(/static/fonts/ProximaNova-Semibold.ttf);
}

.navbar {
    width: 100%;
}

.d-flex {
    width: 280px;
    float: left;
    word-wrap: break-word;
}

.list-group {
    float: center;
}

.col-md6 {
    float: center;
}

.theme-info {
    color: black;
}

.list-group-item {
    transition: transform .2s;
}

.list-group-item:hover {
    filter: brightness(85%);
    transform: scale(1.03);
}