body {
   background-color: white;
   font-family: Proxima;
   font-size: 12pt;
}

@font-face {
  font-family: Proxima;
  src: url(/static/fonts/ProximaNova-Semibold.ttf);
}

.navbar {
    position: fixed;
    width: 100%;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(240,240,240,0.8);
}

.d-flex {
    width: 280px;
    float: left;
}

.list-group {
    float: center;
}

.col-md6 {
    float: center;
}